.je-popup-bg{
  position:fixed;
  top:0;bottom:0;left:0;right:0;
  background-color:rgba(55,55,55,0.8);
  z-index:10001;
}
.je-popup{
  position:absolute;
  top:10%;
  left: 45px;
  right: 50px;
  margin-left: auto;
  margin-right: auto;  min-height:100px;
  min-width: 800px;
  max-width: 1200px;
  height:80%;
  z-index:10011;
  padding:0;
  background:#fff;
  border-radius:5px;
  overflow:hidden;
  font-size: 12px;
}
.je-popup-nav{
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  width:60px;
  background:#323439;
}
.je-popup-nav .je-btn.je-btn-active{
  color: #289adf;
}
.je-popup-content{
  position:absolute;
  top:0;
  bottom:40px;
  left:60px;
  right:0;
  overflow:auto;
}
.je-editor {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background:#fff;
}
.je-editor-publish {
  position:absolute;
  top:0;
  right:0;
  line-height: 38px;
  margin-right: 20px;
}
.je-editor-publish input {
  vertical-align:text-bottom;
  margin-right:5px;
}
.je-editor-tabbtns {
  position:absolute;
  top:0;
  height:50px;
  padding-left: 30px
}
.je-editor-tabs {
  position:absolute;
  top:50px;
  bottom:0;
  width:100%;
  border-top: 2px solid #289adf;
}
.je-editor-tab-btn {
  display:inline-block;
  padding: 8px 20px 5px 20px;
  background: #f3f3f3;
  margin: 19px 1px 0 0px;
  cursor: pointer;
  font-weight: bold;
  font-size: 13px;
}
.je-editor-tab-btn.disabled {
  color:#ccc;
  font-weight: normal;
}
.je-editor-tab-btn.active {
  font-weight:bold;
  color: #fff;
  background-color: #289adf;
}
.je-editor-tab {
  display:none;
}
.je-editor-tab.active {
  display:block;
}
.je-editor-tab.disabled .je-editor-tab-content,
.je-editor-tab.disabled .je-editor-tab-side {
  -webkit-filter: grayscale(80%);
  -moz-filter: grayscale(80%);
  filter: grayscale(80%);
  opacity:0.6;
  pointer-events:none !important;
}
.je-editor-create-lang {
  position:absolute;
  top:0;left:0;right:0;bottom:0;
  text-align:center;
  padding-top: 22%;
}
.je-editor-create-lang .je-btn{
  font-weight: bold;
  color: #fff;
  background: #289adf;
  padding: 8px 14px;
}
.je-editor-create-lang .je-btn:hover{
  background: #005d8e;
}
.je-editor-tab-content{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:280px;
  overflow:auto;
  padding: 30px;
}
.je-editor-tab-side{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 280px;
  overflow: auto;
  background: #f4f4f4;
  padding: 15px;
  font-size: 11px;
}
.je-editor-editableinline, .je-editor-readonly {
  font-style:italic;
}
.je-editor-editableinline:before{
  content:'\2190 [inline] ';
}
.je-editor-readonly:before{
  content:'[readonly] ';
}
.je-editor-tab-side input {
  width:100%;
  height:auto !important;
  padding:0 !important;
  margin:0 !important;
}
.je-editor-tab-side label {
  font-weight:bold;
  font-size:1.1em;
}
.je-editor-side-readonly, .je-editor-side-extra {
  border-top:1px solid #666;
  margin:10px 0;
}
.je-editor-side-readonly:before, .je-editor-side-extra:before {
  display:block;
  font-size: 14px;
  font-weight:bold;
  padding-top: 7px;
  color: #0f0f0f;
}
.je-editor-side-readonly:before {
  content: 'Readonly';
}
.je-editor-side-extra:before {
  content: 'Extra attributes';
}
.je-popup-actions{
  display:block;
  position:absolute;
  bottom:0;
  right:0;
  height:40px;
  padding-top: 2px;
}
.je-btn{
  display:inline-block;
  background:#ccc;
  margin:4px 8px 8px 0;
  padding:4px;
  border-radius:2px;
  cursor: pointer;
}
.je-popup-user{
  position:absolute;
  left: 80px;
  bottom:0;
  z-index:10111;
}
.je-popup-user .je-btn{
  margin-left: 10px;
  font-size: 10px;
  font-weight: bold;
  padding: 2px 8px;
}
.je-popup-nav .je-btn{
  display:inline-block;
  margin: 0;
  padding: 10px;
  line-height: 40px;
  vertical-align: middle;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  display: block;
  height: 60px;
  background: transparent;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
.je-popup-nav .je-btn:hover{
  background: #3d3d3d;
}
.je-popup-nav .je-btn-dash{

}
.je-popup-nav .je-btn-dash:before{
  content: 'h';
  font-family: 'icons';
  font-size: 26px;
  padding: 9px;
  vertical-align: middle;
  line-height: 28px;
  display: block;
}

.je-popup-nav .je-btn-edit:before{
  content: 'e';
  font-family: 'icons';
  font-size: 26px;
  padding: 9px;
  vertical-align: middle;
  line-height: 28px;
  display: block;
}
.je-popup-nav .je-btn-newx{
  font-family: 'icons';
  font-size: 24px;
  padding: 18px 0 0 18px;
  vertical-align: middle;
  line-height: 28px;
  font-weight: normal;
}
.je-popup-nav .je-btn-trans{
  bottom: 60px;
  position: absolute;
  width: 60px;
}
.je-popup-nav .je-btn-trans:before{
  content: '\e600';
  font-family: 'icons';
  font-size: 26px;
  padding: 9px;
  vertical-align: middle;
  line-height: 28px;
  display: block;
}
.je-popup-nav .je-btn-profile{
  bottom: 0;
  position: absolute;
  width: 60px;
}
.je-popup-nav .je-btn-profile:before{
  content: 'p';
  font-family: 'icons';
  font-size: 26px;
  padding: 9px;
  vertical-align: middle;
  line-height: 28px;
  display: block;
}

.je-popup-actions .je-btn{
  padding: 8px 14px;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
}
.je-popup-actions .je-btn-save{
  color: #fff;
  background: #289adf;
}
.je-popup-actions .je-btn-save:hover{
  background: #005d8e;
}
.je-btn-saving {
  pointer-events:none;
}
.je-btn-saving .je-popup-actions .je-btn-cancel {
  pointer-events:auto;
}
.je-btn-saving .je-popup-actions .je-btn-save {
  background:#005d8e;
  opacity:0.8;
  color:rgba(255,255,255,0.8);
  pointer-events:none;
}
.je-btn-saving .je-popup-actions .je-btn-save:before {
  content:' ';
  display:inline-block;
  margin:-0.3em;
  margin-right:0.3em;
  width:1.4em;
  height:1.4em;
  text-align:center;
  border-radius:50%;
  border:0.2em solid #ccc;
  border-top-color:#289adf;
  -webkit-animation:je-spinner-anim 1s infinite ease;
  animation:je-spinner-anim 1s infinite ease;
}
*[class^="medium-editor-"] {
  z-index:10100 !important;
}
.je-editor [data-jekylledit-source] {
  border:3px solid yellow;
}

.je-auth{
  text-align: center;
  top: 50%;
  position: absolute;
  left: 50%;
  width: 100px;
  height: 38px;
  margin-left: -50px;
  margin-top: -19px;
}

.je-auth .je-btn{
  background: #289adf;
  color: #fff;
  padding: 10px 20px;
  margin: 0;
  font-weight: bold;
}

.je-spinner {
  display:inline-block;
  position:absolute;
  left:50%;
  top:10%;
  margin-left:-2em;
  width:4em;
  height:4em;
  line-height:4em;
  margin:1em;
  text-align:center;
  border-radius:50%;
  border:0.4em solid #ccc;
  border-top-color:#289adf;
  -webkit-animation:je-spinner-anim 1s infinite ease;
  animation:je-spinner-anim 1s infinite ease;
}
@-webkit-keyframes je-spinner-anim {
  0% {-webkit-transform:rotate(0deg);transform:rotate(0deg);}
  100% {-webkit-transform:rotate(360deg);transform:rotate(360deg);}
}
@keyframes je-spinner-anim {
  0% {-webkit-transform:rotate(0deg);transform:rotate(0deg);}
  100% {-webkit-transform:rotate(360deg);transform: rotate(360deg);}
}
.je-dash{
  padding: 30px 200px;
}
.je-dash .je-dash-new{
  color: #289adf;
  font-size: 18px;
  padding: 15px;
  cursor: pointer;
}
.je-dash .je-dash-new:hover{
  color: #005d8e;
}
.je-dash .je-dash-new .je-dash-new-symbol{
  font-size: 26px;
  font-family: 'icons';
  color: #289adf;
  margin-right: 20px;
}
.je-translations-table{
  margin: 0;
}
.je-translations-table th{
  height: 28px;
  border: 1px solid #ccc;
  padding: 0 10px;
  vertical-align: middle;
}
.je-translations-table td{
  padding: 0;
  border: 1px solid #ccc;
}
.je-translations-table input{
  border: none;
}
.je-translations-table input:focus{
  outline: 2px solid #00AA4A;
}

.je-profile{
  padding: 30px;
}

.je-dash-empty {
  padding:10px;
  text-align:center;
}
.je-dash-draft {
  border-bottom:1px solid #ccc;
  margin: 0;
  padding: 6px;
  cursor:pointer;
}
.je-dash-draft:last-child{
  border-bottom: none;
}
.je-dash-draft span {
  padding:5px;
}
.je-dash-draft-title {
  font-weight:bold;
}

.ac-renderer{position:absolute;border:1px solid #898989;margin-top:-1px;max-width:400px;z-index:10100;}
.ac-row{white-space:nowrap;position:relative;cursor:pointer;padding:5px;background-color:#fff;overflow:hidden !important;text-overflow:ellipsis}
.ac-highlighted{font-weight:bold}
.ac-active{color:#393939;background-color:#f3f3f3}
.ac-type{background-color:#990033;color:#FFFFFF;display:block;margin:2px;padding:2px;font-style:italic;float:right}
.je-multichoice{background-color:#fff;border:1px solid #898989;cursor:text;display:block;padding:2px;overflow-y:auto;overflow-x:hidden;margin-bottom:0}
.je-multichoice input{border:0 !important;outline:0 !important;margin:0 !important;padding:0 !important;width:auto !important;box-shadow:none;padding-left:3px !important;display:inline-block;}
.je-multichoice div{display:inline-block;position:relative;font-size:11px;padding:3px 18px 3px 5px;margin:0 4px 2px 0;cursor:default;border-radius:2.5px;background-color:#898989;color:#fff}
.je-multichoice div a{display:block;width:10px;height:10px;position:absolute;top:3px;right:2px;text-decoration:none;color:#fff;font-size:10px}
.je-multichoice div a:hover{color:#393939}
.je-multichoice div .mc-tag-remove{}

.je-mediaupload-preview {width:100%;}
